
.container-sm {
    margin: 40px auto;
    background-color: rgba(238, 84, 110, 0.575);
}

blockquote {
   float: right;
   padding: 3%;
}

img {
    display: inline;
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 10px;

}