*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    display: table;
    height: 100%;
    width: 100%;
    background-color: rgba(233, 115, 94, 0.856);
}

.container-sm, .container {
    margin: 40px auto;
    background-color: rgba(110, 147, 226, 0.356);
}

.wrapper {
   color: white;
   text-align: center;
   width: 100%;
   height: auto;
   padding: 10px

}

img {
    display: inline;
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 10px;
}

form {
    width: 400px;
}
input {
    width: 100%;
}
textarea {
    resize: both;
    max-height: 500px;
    max-width: 400px;
}

input:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(218, 71, 218, 0.103);
    border: 4px solid rgba(187, 78, 129, 0.685);
}
.container {
    max-width: 450px;
}

strong {
    font-size: 3em;
}
.wrapper, .navbar {
       background-color:rgba(87, 223, 216, 0.493);
}
p, .navbar, h2 {
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    font-weight: bold ;
}