
.container-sm, .container {
    margin: 40px auto;
    background-color: rgba(199, 163, 241, 0.37);
}

blockquote {
   float: right;
   padding: 3%;
}

img {
    display: inline;
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 10px;

}
form {
    width: 400px;
}
input {
    width: 100%;
}
textarea {
    resize: both;
    max-height: 500px;
    max-width: 400px;
}

input:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(173, 54, 173, 0.103);
    border: 4px solid rgba(187, 78, 129, 0.685);
}
.container {
    max-width: 450px;
}
.navbar{
    background-color: pink;
    font-family: 'Courier New', Courier, monospace;
}
strong {
    font-size: 3em;
}